In [2]:
import pandas as pd
import numpy as np

In [3]:
link = 'https://data.stadt-zuerich.ch/dataset/sid_stapo_hundebestand/download/20210301_hundehalter.csv'
df = pd.read_csv(link)

In [4]:
df.head()

,HALTER_ID,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
0,155048,41-50,w,10,101,Mischling gross,NaN,NaN,NaN,I,2019,m,grau/braun
1,119231,71-80,w,10,101,Golden Retriever,NaN,NaN,NaN,I,2011,w,golden
2,146137,41-50,w,10,101,Dalmatiner,NaN,NaN,NaN,I,2014,m,schwarz/weiss
3,83856,61-70,w,10,101,Tibet Terrier,NaN,NaN,NaN,K,2012,m,zobel
4,118377,31-40,m,10,101,Deutscher Schäfer,NaN,NaN,NaN,I,2013,w,grau

In [7]:
df.groupby('STADTKREIS').count()

,HALTER_ID,ALTER,GESCHLECHT,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
STADTKREIS,,,,,,,,,,,,
1,130,130,130,130,130,9,10,0,130,130,130,130
2,836,836,836,836,836,46,65,0,834,836,836,836
3,767,767,767,767,767,68,56,0,765,767,767,767
4,450,450,450,450,450,37,35,0,448,450,450,450
5,290,290,290,290,290,13,31,0,290,290,290,290
6,596,596,596,596,596,41,53,0,596,596,596,596
7,1168,1168,1168,1168,1168,74,96,0,1168,1168,1168,1168
8,462,462,462,462,462,27,46,0,461,462,462,462
9,1065,1065,1065,1065,1065,81,91,0,1064,1065,1065,1065
10,758,758,758,758,758,51,60,0,758,758,758,758
11,1434,1434,1434,1434,1434,105,111,0,1433,1434,1434,1434
12,618,618,618,618,618,36,49,0,618,618,618,618

In [ ]:
zh_dogs = df[['HALTER_ID']]

In [ ]:
CLIENT_ID = '1DWACJNZAKBZMSLXJM3APID2MTPPKML3SILTH5G4ZFY4WMZU' # your Foursquare ID
CLIENT_SECRET = 'IBETIAPPXZPUDLWO450G13RBFSCZQRXAO3ZEQXKHQXUVO35F' # your Foursquare Secret
ACCESS_TOKEN = '2QKC1QYY2AYW4AQS40VN5PPIWHJ3D4AEF2VVCW5MILGAZSLR' # your FourSquare Access Token
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value
CLIENT_ID = '****' # your Foursquare ID
CLIENT_SECRET = '****' # your Foursquare Secret
ACCESS_TOKEN = '****' # your FourSquare Access Token
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value